<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="NONE,NOARCHIVE"/>
    <title>UPLOAD RECORD</title>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
</head>


<body class="">

<div class="wrapper">
    <div class="navbar navbar-static-top navbar-inverse"
         role="navigation" aria-label="navbar">
        <div class="container">
            <span>
                <a class='navbar-brand' rel="nofollow" href='http://www.django-rest-framework.org'>
                    JFLORIMO API TEST
                </a>
            </span>
            <ul class="nav navbar-nav pull-right">
                <li class="navbar-text">jflorimo</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
        </ul>

        <div>
            <ul>
                {% for file in file_dict %}
                    <li><a href="{{file}}">{{ file }}</a></li>
                {% endfor %}
            </ul>
        </div>


    </div>
</div><!-- ./wrapper -->


<script>
    window.drf = {
        csrfHeaderName: "X-CSRFTOKEN",
        csrfCookieName: "csrftoken"
    };
</script>
<script src="/static/rest_framework/js/jquery-3.3.1.min.js"></script>
<script src="/static/rest_framework/js/ajax-form.js"></script>
<script src="/static/rest_framework/js/csrf.js"></script>
<script src="/static/rest_framework/js/bootstrap.min.js"></script>
<script src="/static/rest_framework/js/prettify-min.js"></script>
<script src="/static/rest_framework/js/default.js"></script>
<script>
    $(document).ready(function () {
        $('form').ajaxForm();
    });
</script>


</body>

</html>